@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #F4EDE4;
  --background-end-rgb: #E9DBC9;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
  /* background: linear-gradient( */
  /*     to bottom, */
  /*     transparent, */
  /*     var(--background-end-rgb) */
  /*   ) */
  /*   var(--background-start-rgb); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
